@charset "UTF-8";
:root {
  --white-text: #ffffff;
  --white-text-transp: rgba(255, 255, 255, 0.1);
  --close-btn: rgba(0, 0, 0, 0.1);
  --black-logo: #000000;
  --black-text: #212121;
  --grey-text: #757575;
  --blue-clr: #2196f3;
  --dark-bgd: #2f303a;
  --light-bgd: #f5f4fa;
  --white-rgba: rgba(255, 255, 255, 0.6);
  --border-head: #ececec;
  --border-proj: #eeeeee;
  --btn-hover: #188ce8;
  --project-gap: 30px;
  --icon-grey: #afb1b8;
  --overlay-bgd: rgba(47, 48, 58, 0.8);
  --modal-border: rgba(33, 33, 33, 0.2);
  --placeholder: rgba(117, 117, 117, 0.5);
  --shadow: rgba(0, 0, 0, 0.15);
  --shadow-layer: rgba(0, 0, 0, 0.2);
  --footer-form-border: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button, .social__link, .mobile-menu__btn, .modal__button, .advantages__icon, .our-work-list__overlay, .clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

.section {
  padding: 60px 0;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.links a {
  text-decoration: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.19;
  color: var(--black-text);
  text-transform: uppercase;
}

.title_align_center {
  text-align: center;
}

.title_color_white {
  color: var(--white-text);
}

.second-title {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  color: var(--black-text);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .second-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.7;
    color: var(--black-text);
    margin-bottom: 50px;
  }
}

.links .logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: var(--blue-clr);
}

@media screen and (min-width: 1200px) {
  .links .logo {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blue-clr);
  }
}

.logo__part {
  color: var(--black-logo);
}

.logo__part_color_white {
  color: var(--white-text);
}

.contacts {
  font-style: normal;
  margin-top: 20px;
}

.contacts__list {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__list_flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-menu__contacts__list {
  margin: 0;
}

.contacts__item {
  height: 14px;
}

.contacts__item:not(:last-child) {
  margin: 0 0 10px 0;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin: 0 50px 0 0;
  }
}

.modal-menu__contacts__item {
  height: 28px;
}

.modal-menu__contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.footer__contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.links .contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  line-height: 1.67;
  white-space: nowrap;
  color: var(--grey-text);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links .contacts__link:focus, .links .contacts__link:hover {
  color: var(--blue-clr);
}

@media screen and (min-width: 1200px) {
  .links .contacts__link {
    font-size: 14px;
    line-height: 1.71;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-text);
  }
}

.contacts__link_flex_column:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__link_font {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  -webkit-transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link_font:focus, .contacts__link_font:hover {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  color: var(--blue-clr);
}

.links .contacts__link_color_white {
  color: var(--white-text);
}

.contacts__link_color_transparent {
  color: var(--white-rgba);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.button {
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--blue-clr);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px var(--shadow);
          box-shadow: 0px 4px 4px var(--shadow);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--btn-hover);
}

.button_padding {
  padding: 0 29px;
}

.button_color_white {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--black-text);
  width: auto;
  height: auto;
  padding: 6px 22px;
  background-color: var(--light-bgd);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_color_white:focus, .button_color_white:hover {
  background-color: var(--blue-clr);
  color: var(--white-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button___icon {
  margin-left: 10px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-menu__social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

.social__list_flex_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item_border:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--modal-border);
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-grey);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--blue-clr);
  color: var(--white-text);
}

.social__link_color_white {
  background-color: var(--white-text-transp);
  color: var(--white-text);
}

.social__icon {
  fill: currentColor;
}

.social__link_font {
  position: relative;
  text-align: right;
  width: 100%;
  height: 22px;
  border-radius: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02;
  color: var(--blue-clr);
  background-color: var(--white);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link_font:hover, .social__link_font:focus {
  color: var(--grey-text);
  background-color: var(--white-text);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--border-head);
}

.header__logo {
  display: inline-block;
  padding: 24px 0 25px 0;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .site-nav__list,
  .site-nav__item,
  .contacts__list {
    display: none;
  }
}

.site-nav__list {
  margin-left: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .site-nav__list {
    margin-left: 93px;
  }
}

.site-nav__list_flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin: 0 50px 0 0;
}

.site-nav__item_flex_column:not(:last-child) {
  margin: 0 0 32px 0;
}

.site-nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text);
  padding: 30px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:focus, .site-nav__link:hover {
  color: var(--blue-clr);
}

.site-nav__link_font {
  padding: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.site-nav__link_current {
  color: var(--blue-clr);
}

.site-nav__link_current::after {
  position: absolute;
  left: 0;
  bottom: -4%;
  content: '';
  width: 100%;
  border: 2px solid;
  border-radius: 2px;
  background-color: var(--blue-clr);
}

.mobile-menu__btn {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  cursor: pointer;
  color: var(--black-text);
  background-color: var(--white-text);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  color: var(--blue-clr);
}

@media (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__icon {
  fill: currentColor;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  padding: 40px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--white-text);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .mobile-menu__site-nav {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .mobile-menu .site-nav__list,
  .mobile-menu .site-nav__item,
  .mobile-menu .contacts__list {
    display: block;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__btn_close {
  position: absolute;
  top: 40px;
}

.hero {
  min-width: 320px;
  padding: 118px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--dark-bgd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_phone.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_phone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_phone@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_phone@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
  }
}

.hero__container {
  text-align: center;
  margin: 0 auto;
}

.hero__title {
  width: 360px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--white-text);
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-text);
  }
}

.hero__button {
  margin: 30px auto 0;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--shadow-layer);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  min-width: 320px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  background-color: var(--white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--shadow-layer);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--shadow-layer);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--close-btn);
  border-radius: 50%;
  padding: 0;
  background-color: var(--white-text);
  color: var(--black-logo);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  color: var(--blue-clr);
}

.modal__icon {
  fill: currentColor;
}

.callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--black-text);
  text-align: center;
}

.callback__wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.callback__input {
  display: block;
  width: 100%;
  padding: 12px 42px;
  margin-top: 4px;
  border: 1px solid var(--modal-border);
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__input:hover, .callback__input:focus {
  border-color: var(--blue-clr);
}

.callback__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-text);
}

.callback__icon {
  position: absolute;
  top: 50%;
  left: 11px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--black-text);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__label:hover .callback__icon,
.callback__label:focus .callback__icon {
  fill: var(--blue-clr);
}

.callback__comment {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-text);
}

.callback__text {
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-border);
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.callback__text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.callback__text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.callback__text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.callback__text:hover, .callback__text:focus {
  border-color: var(--blue-clr);
}

/* Чекбокс */
.callback__agreement {
  position: relative;
  padding-left: 23px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  cursor: pointer;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__link {
  color: var(--blue-clr);
}

.callback__custom {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__checkbox:focus + .callback__custom {
  border-color: var(--blue-clr);
}

.callback__checkbox:checked + .callback__custom {
  border-color: transparent;
  background-color: var(--blue-clr);
  background-image: url("../images/icons/icon-check.svg");
  background-origin: border-box;
}

.advantages {
  padding: 60px 0 0 0;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0 0 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--project-gap));
    margin-top: calc(-1 * var(--project-gap));
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.advantages__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
        flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--project-gap));
        flex-basis: calc(100% / 4 - var(--project-gap));
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: var(--project-gap);
}

@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages__icon {
  width: 100%;
  height: 120px;
  background-color: var(--light-bgd);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.our-work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
  }
}

.our-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.our-work-list__wrapper {
  position: relative;
}

.our-work-list__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--overlay-bgd);
}

.team {
  background-color: var(--light-bgd);
}

.team__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: var(--project-gap);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--project-gap));
    margin-top: calc(-1 * var(--project-gap));
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--shadow-layer);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--shadow-layer);
  background-color: var(--white-text);
}

@media screen and (min-width: 768px) {
  .team__item {
    display: inline-block;
    -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
        flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--project-gap));
        flex-basis: calc(100% / 3 - var(--project-gap));
  }
}

.team__item:not(:last-child) {
  margin-bottom: var(--project-gap);
}

@media screen and (min-width: 768px) {
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.team__photo {
  width: 100%;
}

.team__box {
  padding: 30px 32px;
}

.team__name {
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * var(--project-gap));
  margin-top: calc(-1 * var(--project-gap));
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  display: inline-block;
  width: 100%;
  -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
      flex-basis: calc(100% / 2 - var(--project-gap));
  margin-left: var(--project-gap);
  margin-top: var(--project-gap);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--project-gap));
        flex-basis: calc(100% / 3 - var(--project-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - var(--project-gap));
        flex-basis: calc(100% / 6 - var(--project-gap));
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  color: var(--icon-grey);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--blue-clr);
  color: var(--blue-clr);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--dark-bgd);
  padding: 60px 0;
}

.footer__wrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .footer__wrapper {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    max-width: 768px;
    padding: 0 90px 0 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    max-width: 1200px;
    padding: 0 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer__links {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__links {
    width: 230px;
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.social__title,
.sign-up__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-text);
  text-transform: uppercase;
}

.footer__social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-bottom: 0;
  }
}

.sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .sign-up__form {
    margin: 0 auto 0 93px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.sign-up__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .sign-up__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.sign-up__input {
  display: block;
  margin-bottom: 20px;
  min-width: 290px;
  max-width: 358px;
  padding: 15px 16px;
  border: 1px solid var(--footer-form-border);
  -webkit-filter: drop-shadow(0px 4px 4px var(--shadow));
          filter: drop-shadow(0px 4px 4px var(--shadow));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up__input:hover, .sign-up__input:focus {
  border-color: var(--white-text);
}

.sign-up__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
  -webkit-box-align: center;
          align-items: center;
}

.sign-up__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
  -ms-flex-align: center;
      align-items: center;
}

.sign-up__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
  -ms-flex-align: center;
      align-items: center;
}

.sign-up__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .sign-up__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 40px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .filter__item:nth-child(n + 4) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--project-gap));
    margin-top: calc(-1 * var(--project-gap));
  }
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
        flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--project-gap));
        flex-basis: calc(100% / 3 - var(--project-gap));
  }
}

.projects__item:not(:last-child) {
  margin-bottom: var(--project-gap);
}

@media screen and (min-width: 768px) {
  .projects__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.projects__card {
  width: 100%;
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__card:hover, .projects__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__card:hover .projects__overlay,
.projects__card:focus .projects__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projects__wrapper {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  background-color: var(--blue-clr);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text);
  opacity: 0.9;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__box {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid var(--border-proj);
  border-top: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.projects__group {
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-text);
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */