.advantages {
  padding: 60px 0 0 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0 0 0;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--project-gap));
    margin-top: calc(-1 * var(--project-gap));
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.advantages__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--project-gap));
  }
}
.advantages__item {
  &:not(:last-child) {
    margin-bottom: var(--project-gap);
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.advantages__icon {
  @extend %flex;
  width: 100%;
  height: 120px;
  background-color: var(--light-bgd);
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages__box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
