.footer {
  background-color: var(--dark-bgd);
  padding: 60px 0;
}
.footer__wrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 90px 0 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 15px;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
.footer__links {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    width: 230px;
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.social__title,
.sign-up__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  @include font(bold, 14px, 1.14, 0.03em, var(--white-text));
  text-transform: uppercase;
}
.footer__social {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.sign-up__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 1200px) {
    margin: 0 auto 0 93px;
    align-items: flex-start;
  }
}
.sign-up__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.sign-up__input {
  display: block;
  margin-bottom: 20px;
  min-width: 290px;
  max-width: 358px;
  padding: 15px 16px;
  border: 1px solid var(--footer-form-border);
  filter: drop-shadow(0px 4px 4px var(--shadow));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--white-text);
  }
  &::placeholder {
    @include font-normal(16px, 1.25, 0.03em, var(--white-rgba));
    align-items: center;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0 12px 0 0;
  }
}
