.links .logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  @include font-no-ls(bold, 24px, 1.17, var(--blue-clr));
  @media screen and (min-width: 1200px) {
    @include font-no-ls(bold, 26px, 1.19, var(--blue-clr));
  }
}
.logo__part {
  color: var(--black-logo);
}
.logo__part_color_white {
  color: var(--white-text);
}
