:root {
    --white-text: #ffffff;
    --white-text-transp: rgba(255, 255, 255, 0.1);
    --close-btn: rgba(0, 0, 0, 0.1);
    --black-logo: #000000;
    --black-text: #212121;
    --grey-text: #757575;
    --blue-clr: #2196f3;
    --dark-bgd: #2f303a;
    --light-bgd: #f5f4fa;
    --white-rgba: rgba(255, 255, 255, 0.6);
    --border-head: #ececec;
    --border-proj: #eeeeee;
    --btn-hover: #188ce8;
    --project-gap: 30px;
    --icon-grey: #afb1b8;
    --overlay-bgd: rgba(47, 48, 58, 0.8);
    --modal-border: rgba(33, 33, 33, 0.2);
    --placeholder: rgba(117, 117, 117, 0.5);
    --shadow: rgba(0, 0, 0, 0.15);
    --shadow-layer: rgba(0, 0, 0, 0.2);
    --footer-form-border: rgba(255, 255, 255, 0.3);
  }